<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="notes.xingkd.androidnotes" >

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- luncher 上有多个程序入口  -->
        <activity-alias
            android:name="testAlias_Name"
            android:targetActivity=".MainActivity"
            android:label="testAlias">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".component.HandlerActivity">
            <intent-filter>
                <action android:name="notes.xingkd.Handler"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".preference.TestPreferenceActivity">
            <intent-filter>
                <action android:name="notes.xingkd.testPreference"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".component.TitleBarActivity">
            <intent-filter>
                <action android:name="notes.xingkd.TitleBarActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="notes.xingkd"
            android:name=".contact.ContactProvider"/>
    </application>

</manifest>